{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>GW-BestWay</title>
        <link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css" media="all"/>
        <link href="{% static 'assets/img/gearwheel.png' %}" rel="icon" type="image/png" sizes="16x16"/>
    </head>

    <body>

        <nav>
            <div class="container">
                <a href="/">
                    <img id="img_gearwheel" src="/static/assets/img/gearwheel.png" title="Accueil" sizes="10/10">
                </a>
                <a href="#page-top"><h3 title="Haut-de-page">BestWay</h3></a>
                <div>
                    <ul>
                        {% if user.is_authenticated %}
                            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/account/"><img src="/static/assets/img/icon_user_loged.png" title="Mon Compte"></a></li>
                            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'logout' %}"><img src="/static/assets/img/icon_logout.png" title="Déconnexion"></a></li>
                        {% else %}
                            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'login' %}"><img src="/static/assets/img/icon_login.png" title="Connexion"></a></li>
                            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'signup' %}"><img src="/static/assets/img/icon_register.png" title="Créer un compte"></a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        <div>
            <img id="img_traffic" src="{% static 'assets/img/traffic.png' %}"/>
        </div>

        {% block content %}
        {% endblock content %}

        <!-- Footer-->
        <footer>
            <a href="mentions_legales">
                <h3>Mentions legales</h3>
            </a>
        </footer>

    </body>
</html>