{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>GW-BestWay</title>
        <link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css" media="all"/>
        <link href="{% static 'assets/img/gearwheel.png' %}" rel="icon" type="image/png" sizes="16x16"/>
    </head>

    <body>

        <nav>
            <a href="/bestway/"><img id="img_gearwheel" src="/static/assets/img/gearwheel_nav.png" title="Accueil"></a>
            <h1>GearWheel - Bestway-Application</h1>
            {% if user.is_authenticated %}
                <a href="/bestway/account/"><img src="/static/assets/img/icon_user_loged.png" title="Mon Compte"></a>
                <a href="{% url 'logout' %}"><img src="/static/assets/img/icon_logout.png" title="Déconnexion"></a>
            {% else %}
                <a href="{% url 'login' %}"><img src="/static/assets/img/icon_login.png" title="Connexion"></a>
                <a href="{% url 'signup' %}"><img src="/static/assets/img/icon_register.png" title="Créer un compte"></a>
            {% endif %}
        </nav>

        <div class="traffic_logo">
            <img id="img_traffic" src="{% static 'assets/img/traffic.png' %}"/>
        </div>

        <!-- block -->
        {% block content %}
        {% endblock content %}

        <!-- Footer -->
        <footer>
            <a href="/bestway/mentions_legales/">
                <h3>Mentions-legales</h3>
            </a>
            <a href="/bestway/conditions/">
                <h3>CGU</h3>
            </a>
            <a href="mailto:psychoid@hotmail.fr">
                <h3>Contact</h3>
            </a>
        </footer>

    </body>
</html>