{% extends 'base.html' %}
{% load static %}

{% block content %}

    <!-- Block-->
    <div class="container_column">

        <div>
            <h1>Entre tes destinations et valide lorsque tu les as toutes envoyées.</h1>
        </div>

        <!-- form-->
        <form  method="post">
            {% csrf_token %}
            {{ stops_form }}
            <input type="submit" value="Valider">
        </form>

        <form action="result/" method="post">
            {% csrf_token %}
            <input type="submit" value="Calculer">
        </form>
        
    </div>

{% endblock content %}