{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>GW-BestWay</title>
        <link href="{% static 'css/home.css' %}" rel="stylesheet" type="text/css" media="all"/>
        <link href="{% static 'assets/img/gearwheel.png' %}" rel="icon" type="image/png" sizes="16x16"/>
    </head>

    <body>

        <!-- Navigation-->
        <nav>
            
        </nav>

        <!-- Block-->
        <div>
            <img id="img_traffic" src="{% static 'assets/img/traffic.png' %}"/>
            <img id="img_gearwheel" src="{% static 'assets/img/gearwheel.png' %}"/>
            <h1>Bienvenue dans l'application BestWay !</h1>
            <h2>Choisis ton point de départ.</h2>
        </div>

        <!-- form-->
        <form action="/your-name/" method="post">
            <label for="lenomduformcotéback">point de départ: </label>
            <input id="your_name" type="text" name="your_name" value="{{ lavariableducontextedegabaritutilisée }}">
            <input type="submit" value="valider">
        </form>

        <!-- Footer-->
        <footer>
            <a href="mentions_legales">
                <h3>Mentions legales</h3>
            </a>
        </footer>

    </body>
</html>


