{% extends 'base.html' %}
{% load static %}

{% block content %}

    <!-- Block-->
    <div class="container_column">

        <div>
            <h1>Bienvenue dans l'application BestWay !</h1>
            <h2>Choisis ton point de départ.</h2>
        </div>

        <!-- form-->
        <form action="destinations/" method="post">
            {% csrf_token %}
            {{ address_form }}
            <input type="submit" value="Valider">
        </form>
        
    </div>

{% endblock content %}


