/* types text */

h1,h2,h3,p,ul
{
    text-align: center;
    font-size: 2em;
}
@media screen and (max-width: 1024px)
{
    h1,h2,h3,p,ul
    {
        font-size: 4em;
    }
}










/* Body */

body
{
    background-color: #c40c0c;
    display: flex;
    flex-direction: column;
    width: 80%;
    padding-left: 10%;
}
@media screen and (max-width: 1024px)
{
    body
    {
        width: 90%;
        padding-left: 5%;
    }
}










/* Navigation */

nav
{
    /* border: solid rgb(9, 255, 0); */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1%;
    margin-bottom: 1%;
}
@media screen and (max-width: 1024px)
{
    nav
    {
        margin-top: 4em;
        height: 16em;
        width: 100%;
    }
}
@media screen and (max-width: 1024px)
{
    nav h1
    {
        display: none;
    }
}

/* les images dans la navigation */

img
{
    height: 8em;
}
@media screen and (max-width: 1024px)
{
    img
    {
        height: 15em;
    }
}
#img_traffic
{
    height: 15em;
}










/* Traffic-logo */

.traffic_logo
{
    /* border: solid rgb(255, 230, 0); */
    display: flex;
    justify-content: space-around;
    height:15em;
}
@media screen and (max-width: 1024px)
{
    .traffic_logo, #img_traffic
    {
        height: 25em;
    }
}










/* Le Block */

.block
{
    /* border: solid rgb(255, 0, 149); */
    display: flex;
    flex-direction: column;
    height: 25em;
}
@media screen and (max-width: 1024px)
{
    .block
    {
        width: 100%;
        height: 50em;
    }
}

.text
{
    /* border: solid rgb(255, 81, 0); */
}
@media screen and (max-width: 1024px)
{
    .text
    {
        justify-content:none;
    }
}

.block_result
{
    /* border: solid rgb(0, 255, 149); */
    display: flex;
    flex-direction: column;
    height: 60em;
}
@media screen and (max-width: 1024px)
{
    .block_result
    {
        width: 100%;
        height: 200em;
    }
}










/* Les Formulaires */

form, input
{
    /* border: solid rgb(0, 17, 255); */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 40%;
    width: 60%;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

input[type=submit]
{
    height: 40%;
    background-color: rgb(17, 158, 24);
}

input[type=submit]:hover
{
    background-color: rgb(0, 255, 13);
}

@media screen and (max-width: 1024px)
{
    form, input[type=text], input[type=submit]
    {
        height: 30%;
        width: 80%;        
    }
}










/* Le Footer */

footer
{
    /* border: solid rgb(3, 6, 182); */
    display:flex;
    justify-content: space-evenly;
}
@media screen and (max-width: 1024px)
{
    footer,h3
    {
        flex-direction: column;
        font-size: 1.5em;
    }
}